<a href="https://colab.research.google.com/github/bhuvan-webknot/AIML/blob/main/Day3_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("./tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

###Perform one-hot encoding: replace the categorical variable by different boolean variables (0/1) to indicate whether or not certain label is true for that observation

In [5]:
one_hot_encoded = pd.get_dummies(df, columns=['Sex','Pclass'])
one_hot_encoded

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

###Perform ordinal - encoding: replace the labels by some ordinal number if ordinal is meaningful

In [6]:
categorical_columns = ['Sex','Pclass']
df1=df.copy(True)
for col in categorical_columns:
    df1[col + '_ordinal_encoded'] = df[col].astype('category').cat.codes
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_ordinal_encoded,Pclass_ordinal_encoded
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,2
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,2
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1,1
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1,2
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,1,2
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,0,0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1,2
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,1,2
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,1,2

###Perform Mean encoding: replace the label by the mean of the target for that label (the target must be 0/1 valued or continuous)

In [9]:
df2=df1.copy(True)
categorical_col = ['Sex', 'Pclass']

for col in categorical_col:
    mean_encoded = df2.groupby(col)['Survived'].mean()
    df2[col + '_mean_encoded'] = df2[col].map(mean_encoded)
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_ordinal_encoded,Pclass_ordinal_encoded,Sex_mean_encoded,Pclass_mean_encoded
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,2,0.0,0.330275
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,2,1.0,0.330275
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1,1,0.0,0.322581
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1,2,0.0,0.330275
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,2,1.0,0.330275

###Perform target-encoding: similar to mean encoding, but use both posterior probability and probability of the target

In [11]:
df3=df2.copy(True)
categorical_cols = ['Sex', 'Pclass']

target_encoding_mapping = {}
for column in categorical_cols:
    target_encoding_mapping[column] = df3.groupby(column)['Survived'].transform('mean')

# Apply target encoding to each categorical column
for column in categorical_columns:
    df3[column+'_target_encoded'] = target_encoding_mapping[column]

df3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_ordinal_encoded,Pclass_ordinal_encoded,Sex_mean_encoded,Pclass_mean_encoded,Sex_target_encoded,Pclass_target_encoded
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,2,0.0,0.330275,0.0,0.330275
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,2,1.0,0.330275,1.0,0.330275
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1,1,0.0,0.322581,0.0,0.322581
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1,2,0.0,0.330275,0.0,0.330275
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,2,1.0,0.330275,1.0,0.330275

###Perform Weight of Evidence (WOE) encoding: replace the label with WOE of each label. WOE is computed from the basics odds ratio [ In((Proportion of Good Outcomes)/ (Proportion of Bad Outcomes) ]

In [14]:
df4=df3.copy(True)
categorical_cols = ['Sex', 'Pclass']

for column in categorical_columns:
  good_outcomes_proportion = df4.groupby(column)['Survived'].mean()
  bad_outcomes_proportion = 1 - good_outcomes_proportion
  woe = np.log(good_outcomes_proportion / bad_outcomes_proportion)
  df4[column+'woe_encoded'] = df4['Survived'].map(woe)

df4

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_ordinal_encoded,Pclass_ordinal_encoded,Sex_mean_encoded,Pclass_mean_encoded,Sex_target_encoded,Pclass_target_encoded,Sexwoe_encoded,Pclasswoe_encoded
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,2,0.0,0.330275,0.0,0.330275,NaN,NaN
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,2,1.0,0.330275,1.0,0.330275,NaN,-0.131028
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1,1,0.0,0.322581,0.0,0.322581,NaN,NaN
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1,2,0.0,0.330275,0.0,0.330275,NaN,NaN
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,2,1.0,0.330275,1.0,0.330275,NaN,-0.131028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,1,2,0.0,0.330275,0.0,0.330275,NaN,NaN
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,0,0,1.0,0.467290,1.0,0.467290,NaN,-0.131028
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1,2,0.0,0.330275,0.0,0.330275,NaN,NaN
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,1,2,0.0,0.330275,0.0,0.330275,NaN,NaN
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,1,2,0.0,0.330275,0.0,0.330275,NaN,NaN